

/* 待支付提示cube */
.paying-info-cube{
    position: relative;
    width: 90%;
    left: 5%;
    top: 50px;
    height: 5%;
    background: #FFFBF2;
}

.ready-pay-label{
    position: absolute;
    left: 70px;
    top: 30px;
    font-size: 27px;
    color: #FAAF00;
}

.count-down{
    letter-spacing: 5px;
    position: absolute;
    left: 70px;
    top: 70px;
    color: #999999;
}

.minu,.second{
    font-size: 18px;
    color: #FCC000;
}






/* 订单号 */
.order-number{
    position: relative;
    width: 90%;
    left: 5%;
    top: 50px;
    height: 3%;
}

.order-number p{
    position: relative;
    text-align: left;
    font-size: 19px;
    top: 46px;
}

/* 订单信息 */
.order-info-table {
    position: relative;
    width: 90%;
    height: 6%;
    left: 5%;
    top: 50px;
    border: 1px solid lightgrey;
}

.order-info-table table{
    width: 100%;
    height: 100%;
    font-size: 18px;
}

.order-info-table .head{
    height: 60px;
    background: #F7F7F7;
}


/** 影院信息
 */
.cinema-info{
    position: relative;
    width: 90%;
    height: 100px;
    top: 100px;
    left: 5%;
}

.cinema-info .cinema-name{
    position: relative;
    text-align: left;
    font-size: 20px;
    top: 10px;
}

.cinema-info .cinema-addr-label{
    position: relative;
    text-align: left;
    top: 10px;
}

.cinema-info .cinema-phone-label{
    position: relative;
    text-align: left;
    top: 10px;
}

/* 支付 */
.pay-model {
    position: relative;
    width: 90%;
    left: 5%;
    height: 150px;
    top: 150px;
}

.pay-model .pay-label{
    position: relative;
    left: 580px;
    top: 50px;
    font-size: 18px;
}

.pay-model .pay-label .price-symbol{
    color: #F03D43;
    font-size: 25px;
}

.pay-model .pay-label .total-price{
    color: #F03D43;
    font-size: 35px;
}


.pay-model .pay-button{
    position: relative;
    left: 550px;
    top: 60px;
    width: 220px;
    height: 40px;
    font-size: 18px;
    outline: none;
    border-radius: 20px;
    border: none;
    color: #FFFFFF;
    background: #F03D43;
    cursor: pointer;
}

.seat-screen{
    width: 100%;
    height: 100%;
}

/* 放映厅 */
.seat-screen .screen-name{
    position: relative;
    width: 50%;
    height: 86%;
    text-align: center;
    line-height: 70px;
    word-wrap: break-word;
}

/* 座位 */
.seat-screen .seat{
    position: relative;
    left: 50%;
    bottom: 86%;
    width: 50%;
    height: 86%;
}

.seat-screen .seat .seat-item1{
    position: absolute;
    width: 70px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    border-left: 1px solid darkgray;
}

.seat-screen .seat .seat-item2{
    position: absolute;
    width: 70px;
    height: 42px;
    left: 70px;
    text-align: center;
    line-height: 42px;
    border-left: 1px solid darkgray;
}

.seat-screen .seat .seat-item3{
    position: absolute;
    width: 70px;
    height: 42px;
    left: 140px;
    text-align: center;
    line-height: 42px;
    border-left: 1px solid darkgray;
}

.seat-screen .seat .seat-item4{
    position: absolute;
    width: 70px;
    height: 42px;
    top: 42px;
    text-align: center;
    line-height: 42px;
    border-left: 1px solid darkgray;
}

.seat-screen .seat .seat-item5{
    position: absolute;
    width: 70px;
    height: 42px;
    left: 70px;
    top: 42px;
    text-align: center;
    line-height: 42px;
    border-left: 1px solid darkgray;
}